* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	font-family: "Source Sans Pro",Helvetica,Arial,"sans-serif";
}
h1, h2, h3, h4, h5, h6 {
	font-family: Cabin;
}
.container-fluid {
	padding: 0;
}
.row {
	margin: 0;
}
[class*="col-"] {
	padding: 0;
}
a.hover {
	text-decoration: none !important;
}
.page-title {
	color: #0069d9;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.page-description {
  color: #4c4c4c;
  font-size: 15px;
  line-height: 30px;
}

/***************** Global styling ends here ********************/

/********************* Sidebar styling starts here **********************/
.fixed-sidebar {
	width: 240px;
	max-width: 350px;
	float: left;
	height: 100vh;
	position: fixed;
	padding: 30px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.sidebar-content-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.top-content {
	width: 100%;
	/*height: 700px;*/
	/* background: lavenderblush; */

}
.site-header {
	margin-bottom: 30px;
}
.site-description {
	color: #555;
	font-size: 14px;
}
#logo {
	margin-bottom: 6px;
}
#logo img {
	height: 40px;
}
#logo > h1 {
	color: #0069d9;
	font-size: 19px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
ul.site-menu {
	margin: 12px 0 ;
}
ul.site-menu li{
	list-style: none;
}
ul.site-menu li a {
	display: inline-block;
	width: 100%;
	padding: 5px 0;
	color: #000;
	font-size: 15px;
  line-height: 1.78;
	text-decoration: none;
}
ul.site-menu li a:hover {
	color: #0069d9;
}
ul.site-menu li.active a {
	color: #0069d9;
}
.bottom-content {
	justify-self: flex-end;
}
.social-media-content a {
	padding: 2px 10px 2px 0;
	color: #000;
}
.social-media-content a:hover {
	color: #0069d9;
}
.copyright-text {
	color: #555;
	font-size: 14px;
  line-height: 1.78;
	margin-bottom: 0;
}
a.book-photographer-nav {
  border-radius: 2px;
  font-size: 15px;
  padding: 4px 0;
}


/**************************** Main body styling starts here ******************************/
.main-body {
	min-height: 100%;
	float: right;
	width: calc(100% - 240px);
  background-color: #f6f6f6;
}
#banner-slider.carousel img {
	height: 400px;
}
.carousel-indicators {
	display: none;
}
.slider-wrapper {
  z-index: 1;
}
.slider-overlay {
	display: table;
	position: absolute;
  top: 0;
  height: 400px;
  z-index: 20;
  width: 100%;
  /* background: rgba(4, 81, 118, 0.2); */
  background: rgba(0, 0, 0, 0.1);
}
.overlay-content-wrapper {
	display: table-cell;
  text-align: left;
  vertical-align: bottom;
  padding: 20px;
}
.overlay-content-wrapper > p {
  color: #f8f8f8;
  font-size: 18px;
  text-transform: uppercase;
  background: #d52968;
	background: rgba(2, 105, 217, 0.9);
  display: inline-block;
  padding: 8px 15px;
  letter-spacing: 0.8px;
  margin-bottom: 0;
}
p.slider-title {
	font-weight: 600;
	padding: 5px 15px;
}
p.slider-info {
	margin-top: 2px;
	font-size: 15px;
  text-transform: none;
  letter-spacing: 0px;
	/* padding-top: 0; */
}
#banner-slider {
	z-index: -10;
}
.tile-wrapper {
	padding: 30px;
}
.tile-title {
	color: #0069d9;
	/* text-transform: uppercase; */
	letter-spacing: 0.2px;
	font-size: 20px;
	font-weight: 600;
}
.tile-description {
	color: #4c4c4c;
	font-size: 14px;
}
.register-tile {
	background-color: #f6f6f6;
}
.register-btn {
	background: #d52a68;
	border-color: #d52a68;
  color: #fff;
  border-color: transparent;
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 2px;
}
.register-btn:hover {
	background: #d52a68;
	border-color: #d52a68;
}
span.carousel-control-prev-icon, span.carousel-control-next-icon {
	display: none;
}
.carousel {
	overflow: hidden;
}
/***************** Our events styling starts here ******************/
.our-events {
	background: rgba(238, 246, 242, 0.5);
	padding: 20px 0 10px 0;
}
.our-event-title {
	text-align: center;
	font-weight: bold;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.our-event-description {
	text-align: center;

}
/*.page-card::first-element {
	padding-left: 20px;
	background: red;
}
.page-card::last-element {
	background: red;
	padding-right: 20px;
}*/
.no-padding-right {
	padding-right: 0 !important;
}
.cards-wrapper {
	/* margin: 0 10px; */
	margin: 0;
}
.page-card {
	padding: 10px;
	padding: 10px 10px 10px 0;
	cursor: pointer;
}
.page-card > img {
	height: 200px;
}
.page-card-body {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #f5f5f5;
  border-top: none;
}
.page-card-body > h5 {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
  letter-spacing: 0.5px;
}
.common-tiles {
	min-height: 300px;
  /* height: 300px; */
  padding: 0;
}
.hover-bg {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.hover-color-blue {
  background-color: rgba(0, 92, 207, 0.6);
}
.hover-color-red {
  background-color: rgba(213, 42, 104, 0.4);
}
.main-tile {
  height: 100%;
  position: relative;
}
#photographers-carousel, #photographers-carousel .carousel-inner, #photographers-carousel .carousel-item, #photographers-carousel .carousel-item img {
  width: 100%;
  height: 100%;
}
.bottom-shadow::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #202020 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}
.tile-content > h2, .tile-content > p {
	color: white;
}
.tile-content > h2 {
	font-size: 16px;
	letter-spacing: 0.3px;
}
.tile-content > p {
	font-size: 14px;
	margin-bottom: 0;
}
.overlap-section {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding: 30px;
  left: 0px;
}
.sub-overlap {
  position: relative;
  height: 100%;
  width: 100%;
}
.content-sub-overlap {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.common-tiles:hover .hover-bg {
  visibility: visible;
  opacity: 1;
}
.content-tile > div.row {
  height: 100%;
}
.padding-tile {
  padding: 30px;
}
.book-tile {
  background-color: #1d1d1b;
	height: 100%;
}
.content-tile-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.content-tile-wrapper .tile-vertical-content {
  display: table-cell;
  vertical-align: middle;
}
.book-photographer-tile {
	padding: 3px 15px !important;
	margin-top: 10px;
	background: #d52a68;
	border-color: #d52a68;
	color: #fff;
}
.book-photographer-tile:hover {
	color: #fff;
}
.newsletter-wrapper {
	background-image: url(../images/newsletter-bg.png);
}
.newsletter-tile {
	height: 100%;
}
.contents-tile-wrapper {
	height: 100%;
	width: 100%;
}
.content-tile-wrapper.signup-newsletter {
  display: block;
}
.content-tile-wrapper .tile-vertical-content {
  display: table-cell;
  vertical-align: middle;
}
.sub-btn, .sub-btn:hover {
	background-color: #d52a68;
  border-color: #d52a68;
}
.newsletter-left-section {
	background: rgba(238, 246, 242, 0.5);
}

/** overview section **/
.overview-section {
	background-color: #0069d9;
	height: 250px;
	margin-bottom: 20px;
}
.overview-tile {
	height: 100%;
	padding: 10px;
	text-align: center;
}
.overview-tile i {
	font-size: 30px;
	margin: 10px;
}
.tile-title.overview-sub-title {
	font-size: 20px;
}

/** overview section ends **/
footer {
	width: 100%;
	padding: 0 10px;
}
ul.footer-menu {
  margin-bottom: 0;
  display: inline-block;
}
ul.footer-menu li {
  display: inline-block;
  list-style: none;
}
ul.footer-menu li:first-child a {
  padding-left: 0;
}
ul.footer-menu li:last-child a {
  border-right: 0;
}
ul.footer-menu li a {
  border-right: 1px solid #1D1D1B;
  padding-left: 5px;
  padding-right: 9px;
  line-height: 55px;
  text-transform: uppercase;
  color: #1D1D1B;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 0.5px;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
p.copyright {
  text-align: right;
  font-size: 13px;
  line-height: 50px;
  /* letter-spacing: 0.5px; */
  margin-bottom: 0;
}
form.search-photographers .form-group {
	margin-bottom: 10px;
}
form.search-photographers .form-control {
	font-size: 15px;
}
form.search-photographers .form-control:focus {
	box-shadow: none;
}
/**** login page *****/
.login-wrapper {
  padding: 20px 25px;
}
.user-login-content {
  width: 100%;
}
.user-login-box {
  background-color: #fff;
}
.member-login input.form-control {
  box-shadow: none;
  border-radius: 3px;
}
.login-heading > h2 {
  font-size: 22px;
}
.login-heading > p {
  font-size: 15px;
  color: #575756;
}
form.member-login label {
  font-size: 15px;
}
.user-login-content h2 {
  font-size: 20px;
}
.display-table {
  display: table !important;
}
.display-table-cell {
  display: table-cell !important;
  vertical-align: middle;
}
p.login-info {
  text-align: justify;
  font-size: 14px;
}
.login-right-section {
  padding-left: 30px;
  padding-top: 30px;
}
.login-main-content {
  padding-right: 30px;
  border-right: 1px solid #dbdbdb;
}
button.btn-user-login, button.btn-user-signup {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.3px;
  padding: 4px 25px;
  border-radius: 3px;
}
button.btn-user-login:hover, button.btn-user-signup:hover {
  /*background-color: #0069d9;*/
}

button.btn-user-login {
  background-color: #d52a68;
}
button.btn-user-signup {
  background-color: #000;
}
label.keep-me {
  line-height: 30px;
}
p.forgot-pw > a {
  color: #212529;
  font-size: 15px;
  text-decoration: none;
  line-height: 40px;
}
button>a.btn-signup {
  text-decoration: none;
  color: #fff;
}
/**** login page *****/